@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.header-fluid {
  height: 40px;
  background-color: #F9F9F9;
}
.header-fluid .header-container {
  height: 100%;
}
.header-fluid .header-container .header-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header-fluid .header-container .header-row h1 {
  margin: 0 20px;
  font-size: 1rem;
  width: auto;
  color: #525252;
}
.header-fluid .header-container .header-row figure {
  padding: 0;
  margin: 0;
  width: 60px;
}
.header-fluid .header-container .header-row figure img {
  width: 100%;
}

.cuerpo-fluid {
  height: 93vh;
}
.cuerpo-fluid .cuerpo-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cuerpo-fluid .cuerpo-row .row_botones {
  background-color: #F9F9F9;
  padding: 0px;
  margin: 0;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cuerpo-fluid .cuerpo-row .row_botones button {
  border: 2px solid #b8b8b8;
  border-radius: 12px;
  background: #c4c4c4;
  background: linear-gradient(180deg, #525252 0%, #afafaf 0%, white 100%);
  width: 90%;
  height: 4.2vh;
  padding: 0px;
  margin: 2px 0px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.4s;
  color: #525252;
  font-family: "Oswald", sans-serif;
  font-size: 75%;
  text-align: center;
}
.cuerpo-fluid .cuerpo-row .row_botones button:hover {
  border: 4px solid #ed496c;
  color: #000000;
}
.cuerpo-fluid .cuerpo-row .row_botones button:active {
  color: #000000;
}
.cuerpo-fluid .cuerpo-row .row_botones button:focus {
  background-color: #ed496c;
  border: 4px solid #ed496c;
}
.cuerpo-fluid .cuerpo-row .row_contenidos {
  background-color: #F9F9F9;
  height: 100%;
  width: 65%;
  padding: 0;
  margin: 0;
}
.cuerpo-fluid .cuerpo-row .row_contenidos #defaultOpen {
  width: 100%;
  height: 100%;
  animation: fadeEffect 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.cuerpo-fluid .cuerpo-row .row_contenidos #defaultOpen h3 {
  margin-bottom: 30px;
}
.cuerpo-fluid .cuerpo-row .row_contenidos #defaultOpen p {
  border-radius: 0px 15px 15px 15px;
  background-color: #b8b8b8;
  padding: 20px;
  width: 220px;
  text-align: center;
  font-size: 0.8rem;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .tabcontent {
  width: 100%;
  height: 100%;
  animation: fadeEffect 0.5s;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña h2 {
  background-color: #ed496c;
  height: 40px;
  text-align: center;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .pestaña_acordion_button {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #000000;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .pestaña_acordion_button:hover {
  background-color: #ed496c;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .pestaña_acordion_button:active {
  background-color: #b8b8b8;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .pestaña_acordion_button:focus {
  background-color: #b8b8b8;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .accordion-body {
  background-color: #ed496c3f;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .pestaña_acordion_parrafo {
  margin: 10px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .btn-copy {
  border: none;
  border-radius: 5px;
  width: 50px;
  background-color: #b8b8b8;
  margin-top: 10px;
  padding: 5px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .btn-copy:hover {
  background-color: #ed496c;
  color: #F9F9F9;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .pestaña .pestaña_acordion .btn-copy:focus {
  background-color: #ed496c;
  color: #F9F9F9;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p .colapso_p_btn {
  border-radius: 0;
  border: 1px solid #b8b8b8;
  width: 95%;
  background-color: #525252;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p .etiqueta-color {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p #indagar {
  background-color: #b8b8b8;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p #recomendar {
  background-color: #ed496c;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p #cierre {
  background-color: #7ED957;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p #transferencia {
  background-color: black;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p #prueba-gratis {
  background-color: #FFDA10;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_p #cierre-perdido {
  background-color: #F91B1B;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_mje {
  border: 2px dotted #b8b8b8;
  margin: 7px;
  text-align: justify;
  font-size: 0.7rem;
  line-height: 0.95rem;
  cursor: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_mje .foto-membre {
  border: 2px dashed #b8b8b8;
  padding: 5px;
  width: 100px;
  cursor: move;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_mje .foto-membre img {
  width: 100%;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_mje .colapso_mje_input {
  height: auto;
  width: 100%;
  border: 0;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_mje .colapso_mje_input:focus {
  outline: none;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .colapso_mje .colapso_mje_input:focus {
  outline: none;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .btn-copy {
  border: none;
  border-radius: 5px;
  width: 100px;
  background-color: #b8b8b8;
  margin: 0px 0px 10px 15px;
  padding: 5px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .btn-copy:hover {
  background-color: #ed496c;
  color: #F9F9F9;
}
.cuerpo-fluid .cuerpo-row .row_contenidos .btn-copy:focus {
  background-color: #ed496c;
  color: #F9F9F9;
}

/*# sourceMappingURL=mobile-vertical.css.map */
