@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: $fuente-titulos;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-family: $fuente-subtitulos;
    font-weight: bold;
    font-size: 25px;
    color: $color-negro;
}

p {
    font-family: $fuente-parrafo;
    font-size: 14px;
    font-weight: bold;
    color: $color-negro;
}

// ---------------------------------------------------------------------
//          HEADER
// ---------------------------------------------------------------------
.header-fluid {
    // border: 1px dashed black;
    height: 40px;
    background-color: $color-gris-oscuro;

    .header-container {
        // border: 1px dashed gray;
        height: 100%;

        .header-row {
            // border: 1px dashed cyan;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            h1 {
                margin: 0 20px;
                font-size: 1rem;
                width: auto;
                color: $color-gris;
            }

            figure {
                padding: 0;
                margin: 0;
                width: 60px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

// ---------------------------------------------------------------------
//          CUERPO PRINCIPAL
// --------------------------------------------------------------------
.cuerpo-fluid {
    // border: 1px dashed black;
    height: 93vh;

    .cuerpo-row {
        // border: 1px dashed blue;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        // ---------------------------------------------------------------------
        //          BOTONES DE LA IZQUIERDA
        // --------------------------------------------------------------------
        .row_botones {
            // border: 1px dashed red;
            background-color: $color-gris-oscuro;
            padding: 0px 0px 0px 10px;
            margin: 0;
            height: 100%;
            width: 40%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            button {
                border: none;
                background-color: $color-gris;
                border-radius: 5px 0px 0px 5px;
                width: 100%;
                height: 40px;
                padding-left: 15px;
                margin-bottom: 1px;
                color: $color-gris-oscuro;
                outline: none;
                text-align: left;
                cursor: pointer;
                transition: 0.3s;
                font-family: $fuente-titulos;
                font-size: 1.2rem;
            }
            button:hover {
                background-color: $color-rosado;
                border: 2px solid $color-rosado;
                color: $color-negro;
            }
            button:active {
                background-color: $color-rosado;
                color: $color-negro;
            }
            button:focus {
                background-color: $color-rosado;
            }
        }

        // ---------------------------------------------------------------------
        //          CONTENIDO DE LAS PESTAÑAS
        // --------------------------------------------------------------------
        .row_contenidos {
            // border: 1px dashed red;
            height: 100%;
            width: 60%;
            padding: 0;
            margin: 0;

            #defaultOpen {
                // border: 1px dashed orangered;
                width: 100%;
                height: 100%;
                animation: fadeEffect 0.5s;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                h3 {
                    margin-bottom: 30px;
                }

                p {
                    border-radius: 0px 15px 15px 15px;
                    background-color: $color-gris;
                    padding: 20px;
                    width: 220px;
                    text-align: center;
                    font-size: 0.8rem;
                }
            }

            .tabcontent {
                // border: 1px dashed red;
                width: 100%;
                height: 100%;
                animation: fadeEffect 0.5s;
            }

            // ANIMACIÓN DE FUNDIDO PARA EL CAMBIO DE PESTAÑAS
            @keyframes fadeEffect {
                from {opacity: 0;}
                to {opacity: 1;}
            }

            // CONTENEDOR ANSESTRO DE TODA LA PESTAÑA DE LA DERECHA
            .pestaña {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                // TITULO PRINCIPAL DE LA PESTAÑA
                h2 {
                    background-color: $color-rosado;
                    height: 40px;
                    text-align: center;
                }

                // CONTENEDOR PADRE DE TODAS LAS PESTAÑAS
                .pestaña_acordion {

                    // BOTON CON TITULO
                    .pestaña_acordion_button {
                        font-family: $fuente-subtitulos;
                        font-weight: bolder;
                        color: $color-negro;
                    }
                    .pestaña_acordion_button:hover {
                        background-color: $color-rosado;
                    }
                    .pestaña_acordion_button:active {
                        background-color: $color-gris;
                    }
                    .pestaña_acordion_button:focus {
                        background-color: $color-gris;
                    }

                    .accordion-body {
                        background-color: #ed496c3f;
                    }

                    // DESPLEGABLE CON LA RESPUESTA RÁPIDA
                    .pestaña_acordion_parrafo {
                        margin: 10px 0px 0px 0px;
                        font-family: $fuente-parrafo;
                    }

                    // BOTON DE COPIAR TEXTO
                    .btn-copy {
                        border: none;
                        border-radius: 5px;
                        width: 50px;
                        background-color: $color-gris;
                        margin-top: 10px;
                        padding: 5px;
                        font-size: 10px;
                        font-family: $fuente-parrafo;
                        font-weight: 600;
                    }
                    .btn-copy:hover {
                        background-color: $color-rosado;
                        color: $color-blanco;
                    }
                    .btn-copy:focus {
                        background-color: $color-rosado;
                        color: $color-blanco;
                    }
                }
            }

            // ----COLAPSO CON BOTONES----------
            .colapso_p {
                margin-bottom: 0;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .colapso_p_btn {
                    border-radius: 0;
                    border: 1px solid $color-gris;
                    width: 95%;
                    background-color: $color-gris-oscuro;
                    font-family: $fuente-subtitulos;
                    font-weight: bold;

                    position: relative;
                }

                // ETIQUETA CON COLOR PARA DEFINIR TIPO DE MENSAJE
                .etiqueta-color {
                    padding: 0;
                    margin: 0;
                    width: 10px;
                    height: 100%;

                    position: absolute;
                    left: 0;
                    top: 0;
                }

                #recomendar {
                    background-color: #ed496c;
                }
                #cierre {
                    background-color: #7ED957;
                }
                #transferencia {
                    background-color: rgb(0, 0, 0);
                }
                #prueba-gratis {
                    background-color: #FFDA10;
                }
                #cierre-perdido {
                    background-color: #F91B1B;
                }
                


            }

            .colapso_mje {
                // border: 1px dotted red;
                text-align: justify;
                font-size: 0.7rem;
                line-height: 0.95rem;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .foto-membre {
                    border: 2px dashed $color-gris;
                    padding: 5px;
                    width: 100px;
                    cursor: move;

                    img {
                        width: 100%;
                    }
                }

                .colapso_mje_input {
                    height: auto;
                    width: 100%;
                    border: 0;
                }
                .colapso_mje_input:focus {
                    outline: none;
                }
                .colapso_mje_input:focus {
                    outline: none;
                }

                #precio {
                    width: auto;
                }



            }
            
            // BOTON DE COPIAR TEXTO
            .btn-copy {
                border: none;
                border-radius: 5px;
                width: 100px;
                background-color: $color-gris;
                margin: 0px 0px 10px 15px;
                padding: 5px;
                font-size: 10px;
                font-family: $fuente-parrafo;
                font-weight: 600;
            }
            .btn-copy:hover {
                background-color: $color-rosado;
                color: $color-blanco;
            }
            .btn-copy:focus {
                background-color: $color-rosado;
                color: $color-blanco;
            }



        }
    }
}



