// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Oswald', sans-serif;
$fuente-subtitulos: 'Roboto', sans-serif;
$fuente-parrafo: 'Roboto', sans-serif;

// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-negro: #000000;
$color-gris-oscuro: #525252;
$color-gris: #b8b8b8;
$color-rosado: #ed496c;
$color-blanco: #F9F9F9;